# Autosave files
*.asv
*.m~
*.autosave

# Compiled MEX files
*.mex*

# Simulink Code Generation
slprj/
sccprj/
codegen/

# Cache and derived files
*.slxc
*.p

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Cloud-based storage metadata
MATLABDriveTag

# Generated helpsearch folders
helpsearch*/
